/* GLOBAL */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
}
ul li {
  list-style: none;
}
.mar-1 {
  margin-bottom: 30px;
}
.mar-2 {
  margin-bottom: 30px;
}
.mar-3 {
  margin-bottom: 30px;
}
/* CONTAINER */
.container {
  width: 1900px;
  margin: 0 auto;
}
/* GLOBAL IMAGES */
.image {
  width: 512px;
  height: 512px;
}
/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 10px 90px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-txt {
  padding: 8px 20px;
  height: 42px;
  float: left;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.header ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
.header ul li a:link,
.header ul li a:active,
.header ul li a:visited {
  line-height: 42px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.header ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LINKS */
.btn a:link,
.btn a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  font-family: "Merriweather:ital", sans-serif;

  font-size: 14px;
  padding: 12px 18px;
  padding: 14px 30px;
  text-align: center;
  border-radius: 100px;
}
.btn a:active,
.btn a:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.btn-social-3 a:link,
.btn-social-3 a:visited {
  background-color: #f783ac;
  color: #fff;
}
.btn-social-3 a:active,
.btn-social-3 a:hover {
  background-color: #f06595;
}
.btn-social-2 a:link,
.btn-social-2 a:visited {
  background-color: #343a40;
  color: #fff;
}
.btn-social-2 a:active,
.btn-social-2 a:hover {
  background-color: #495057;
}
.btn-social-1 a:link,
.btn-social-1 a:visited {
  background-color: #f03e3e;
  color: #fff;
}
.btn-social-1 a:active,
.btn-social-1 a:hover {
  background-color: #811d1d;
}
.link-list li {
  margin-bottom: 30px;
}
.link-list li:last-child {
  margin-bottom: 0;
}

/* HALFTONE SECTION */

.halftone-container {
  padding: 220px 0;
  background-image: url("img/big-1.jpg");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.txt-1 {
  color: #fff;
}
.halftone-txt {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}
.halftone-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 75px;
  justify-items: center;
  align-items: center;
}

/* SONG 2 SECTION */

.song-2-container {
  padding: 210px 0;
  background-image: url("img/big-3.jpg");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.song-2-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 75px;
  align-items: center;
  justify-items: center;
}
.song-2-ref {
  color: #f6f6f6;
  line-height: 1.5;
  font-size: 16px;
}
.txt-2 {
  color: #f6f6f6;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 30px;
}

/* SONG 1 SECTION */

.song-1-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 75px;
  align-items: center;
  justify-items: center;
}
.song-1-container {
  padding: 210px 0;
  background-image: url("img/big-4.jpg");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.txt-4 {
  color: #f6f6f6;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 30px;
  /* align-self: start; */
}

.song-1-ref {
  color: #f6f6f6;
  line-height: 1.5;
  font-size: 16px;
}

/* SONG 3 SECTION */
.song-3-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 75px;
  align-items: center;
  justify-items: center;
}
.song-3-container {
  padding: 210px 0;
  background-image: url("img/big-5.jpg");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.song-3-ref {
  color: #111;
  line-height: 1.5;
  font-size: 16px;
}
.txt-3 {
  color: #444;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 30px;
}

/* FOOTER */

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: center;
}
.footer-container {
  margin-top: 64px;
  margin-bottom: 96px;
  margin-right: 50px;
}
.footer-name {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: #495057;
}
.footer-icon {
  margin-bottom: 20px;
}
.footer-txt {
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
}
.quote {
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  color: #868e96;
}
#copyright {
  color: #495057;
  font-size: 10px;
  margin-top: 35px;
}
